/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
/bootstrap/compiled.php
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
.idea/
.idea/*
.sass-cache
/.idea/workspace.xml
/public/uploads/*.png
/public/uploads/*.mp3
/public/uploads/*.zip
/.vagrant/*
/npm-debug.log
